body
{
    font-family: 'Raleway', sans-serif;
    background-color: #deedf0;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png") !important;
}
nav
{
    background-color: #94d0cc;
    font-weight: 700;
}
.row
{
    font-weight: 900;
    font-size: 200%;
    background-color: #a6d6d6;
}
.row p{
    padding: 5% 2% 15% 20%;
    font-size: larger;
    color: #302f2f;
}
.row img{
    width: 50%;
    margin: 2% 2% 2% 20%;
}
#but
{
    margin: 1% 42%;
    width: 10%;
    font-weight: 400;
    color: #ffff;
}
